html * {
    font-family: monospace !important;
}

textarea {
    resize: unset;
    min-height: 100px;
}

button {
    background: lightgoldenrodyellow;
}

.inline-block {
    display: inline-block;
}

span {
    color: darkgray;
}

body {
    margin-top: 32px;
    margin-left: 32px;
}

nav span {
    color: black;
}
