html * {
    font-family: monospace !important;
}

textarea {
    resize: unset;
    min-height: 100px;
    min-width: 200px;
}

button {
    background: lightgoldenrodyellow;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.inline-block {
    display: inline-grid;
    min-width: 300px;
}

.red {
    color: red;
}

span {
    color: darkgray;
}

body {
    margin-top: 32px;
    margin-left: 32px;
}

nav span {
    color: black;
}
